h2{
margin:6px 0 0 1.6rem
}
img{
margin:0 0 0.9rem 1.6rem
}
form{
display:inline-block;
vertical-align:top
}
.centr{
text-align:center;
margin-top:0.9rem
}
label{
font-size:2rem;
position:relative;
right:0.6rem;
bottom:1.4rem;
color:white
}
input[type="number"]{
max-width:6.3rem;
font-size:2.8rem;
background-color:#c8c8ca;
border:none;
text-align:right;
color:white
}